##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#
 
# ---------------[ Unity generated ]------------------ #
Temp/º
Obj/
UnityGenerated/
Library/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# OS X only:
.DS_Store
*.swp
*.Trashes

rb_Data/output_log.txt
SuperAwesomeGame/Temp/TarGZ/TouchScript
SuperAwesomeGame/Temp/UnityLockfile
SuperAwesomeGame/Temp/UnityTempFile-1b0d817539f55764097f8d74255690de
SuperAwesomeGame/Temp/UnityTempFile-2280dfab9e47fac4286b6e3da5c2bfd9
SuperAwesomeGame/Temp/UnityTempFile-75a15ecf4cc5e1040966ae0c899f33a7
SuperAwesomeGame/Temp/UnityTempFile-d6009e3c1979d0b41a1feff51776cfdd
