##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#
 
# ---------------[ Unity generated ]------------------ #
Temp/º
Obj/
UnityGenerated/
Library/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# OS X only:
.DS_Store
*.swp
*.Trashes

rb_Data/output_log.txt
SuperAwesomeGame/Temp/TarGZ/TouchScript
SuperAwesomeGame/Temp/UnityLockfile
SuperAwesomeGame/Temp/UnityTempFile-1b0d817539f55764097f8d74255690de
SuperAwesomeGame/Temp/UnityTempFile-2280dfab9e47fac4286b6e3da5c2bfd9
SuperAwesomeGame/Temp/UnityTempFile-75a15ecf4cc5e1040966ae0c899f33a7
SuperAwesomeGame/Temp/UnityTempFile-d6009e3c1979d0b41a1feff51776cfdd
SuperAwesomeGame/Assets/TouchScript/Examples.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Fonts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Fonts/LuckiestGuy.ttf
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Fonts/LuckiestGuy.ttf.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/Board.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/Board.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/checker_dark.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/checker_dark.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/checker_light.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/checker_light.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/checkerboard.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/checkerboard.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/Checkerboard.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/Checkerboard.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerboardBottom.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerboardBottom.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerDark.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerDark.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerDark.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerDark.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerLight.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerLight.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerLight.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Checkerboard/CheckerLight.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials/table_chair_01.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials/table_chair_01.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials/table_chair_01.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials/table_chair_01.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials/table_chair_01_norms.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/Materials/table_chair_01_norms.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/table_and_chair.FBX
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Models/Table/table_and_chair.FBX.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/Checker.cs
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/Checker.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/ExamplesList.cs
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/ExamplesList.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/Highlight.cs
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/Highlight.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/KillMe.cs
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/KillMe.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/Runner.cs
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/Runner.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/ShowMe.cs
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Scripts/ShowMe.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Shaders.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Shaders/BorderDiffuse.shader
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Shaders/BorderDiffuse.shader.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Shaders/UnlitColor.shader
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Shaders/UnlitColor.shader.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/border100x100.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/border100x100.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_1.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_1.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_2.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_2.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_3.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_3.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_4.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_4.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_5.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_5.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_6.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Cats/cat_6.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/checkerboard2x2.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/checkerboard2x2.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/close.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/close.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/crate.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/crate.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Earth.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Earth/EarthDiffuse1024x512.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Earth/EarthDiffuse1024x512.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Earth/EarthMaterial1024x512.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Earth/EarthMaterial1024x512.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Camera.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Camera.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Checkers.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Checkers.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Colors.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Colors.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Cube.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Cube.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Multiuser.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Multiuser.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Photos.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Photos.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Portal.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Portal.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/RawInput.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/RawInput.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Taps.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Examples/Taps.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Icons.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_1.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_1.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_1.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_1.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_2.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_2.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_2.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_2.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_3.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_3.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_3.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_3.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_4.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_4.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_4.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Planets/planet_4.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/rotate.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/rotate.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/backImage.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/backImage.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/downImage.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/downImage.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/frontImage.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/frontImage.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/leftImage.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/leftImage.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/rightImage.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/rightImage.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/Skybox.mat
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/Skybox.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/upImage.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Skybox/upImage.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_blue.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_blue.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_green.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_green.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_text.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_text.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_x.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/button_x.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/list_bg.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/list_bg.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/list_header.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/list_header.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/list_item.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/UI/list_item.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Unity.png
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/Unity.png.meta
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/vortex.jpg
SuperAwesomeGame/Assets/TouchScript/Examples/_misc/Textures/vortex.jpg.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Camera.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Camera/Camera.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Camera/Camera.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Camera/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Camera/Scripts/CameraController.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Camera/Scripts/CameraController.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Checkers.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Checkers.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Scripts/Board.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Scripts/Board.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Scripts/Exclusive.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Checkers/Scripts/Exclusive.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Colors.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Colors.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Materials.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Materials/Color.mat
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Materials/Color.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Prefabs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Prefabs/Circle.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Prefabs/Circle.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Scripts/Circle.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Scripts/Circle.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Scripts/Colors.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Colors/Scripts/Colors.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Cube.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Cube.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Materials.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Materials/Cube.mat
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Materials/Cube.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Materials/Plane.mat
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Materials/Plane.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Prefabs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Prefabs/Pointer Hit.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Prefabs/Pointer Hit.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/RenderTexture.renderTexture
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/RenderTexture.renderTexture.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/CustomPointerProxy.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/CustomPointerProxy.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/Init.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/Init.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/LayerDelegate.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/LayerDelegate.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/RedirectInput.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Cube/Scripts/RedirectInput.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Examples.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Examples.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Multiuser.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Multiuser/Multiuser.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Multiuser/Multiuser.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Multiuser/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Multiuser/Scripts/Logo.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Multiuser/Scripts/Logo.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Photos.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Photos.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Photos.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/RenderTexture.renderTexture
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/RenderTexture.renderTexture.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Scripts/Container.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Scripts/Container.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Scripts/SetColor.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Photos/Scripts/SetColor.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Materials.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Materials/Vortex.mat
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Materials/Vortex.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Portal.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Portal.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 1.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 1.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 2.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 2.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 3.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 3.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 4.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Prefabs/Planet 4.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Planet.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Planet.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Rotator.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Rotator.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Spawner.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Spawner.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Vortex.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Portal/Scripts/Vortex.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Prefabs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Prefabs/Ball.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Prefabs/Ball.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/RawInput.unity
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/RawInput.unity.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Scripts/Ball.cs
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Scripts/Ball.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Scripts/Spawner.cs
SuperAwesomeGame/Assets/TouchScript/Examples/RawInput/Scripts/Spawner.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Materials.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Materials/Crate.mat
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Materials/Crate.mat.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Prefabs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Prefabs/Cube.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Prefabs/Cube.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Prefabs/Particles.prefab
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Prefabs/Particles.prefab.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts/Break.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts/Break.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts/Kick.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts/Kick.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts/Spawn.cs
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Scripts/Spawn.cs.meta
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Taps.unity
SuperAwesomeGame/Assets/TouchScript/Examples/Taps/Taps.unity.meta
SuperAwesomeGame/Temp
SuperAwesomeGame/Assets/TouchScript/Examples/
